@model UserRegistrationMVCcore.Models.UserClass

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h2>@TempData["DeleteMessage"]</h2>
<div>
    <h4>UserClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmpwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmpwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
